.card{
    border: 1px solid;
    width: 300px;
    margin: 10px;
    box-shadow: 0 0 6px violet;
    border-radius: 20px;
    display: inline-block;
}

.card img{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    padding: 8px;
}
.card button{
    width: 100%;
    border: none;
    font-size: 16pt;
    background-color: aqua;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
}